:root {
    /* Info here*/
    --blue: #0066cc;


    /* Typography */
    --font-heading: "Georgia", serif;
    --font-body: "Verdana", sans-serif;
}

h3 {
    font-family: var(--font-heading);
}

h1,
h4 {
    font-family: var(--font-body);
}



body {
    margin: 2rem;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.card {
    border: 1 solid var(--blue);
    padding: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 8px;
    width: 200px;
    overflow: hidden;
    /* Ensures image fits corners */
    background-color: white;

    a {
        color: var(--blue);
        text-decoration: none;
    }
}